.headerContainer {
  background: var(--gray-700);

  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer img {
  height: 3rem;
}